:root {
  --color-text-default: oklch(29.47% 0.04 289.06);
  --color-text-dark: oklch(24.4% 0.04 289.06);
  --color-text-light: #fff;
  --color-text-placeholder: oklch(51.47% 0.04 289.06);
  --color-main: oklch(51.47% 0.224 289.06);
  --color-dark: oklch(39.47% 0.224 289.06);
  --color-error: oklch(58.24% 0.232 23.6);
}

@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text-default);
  font-family: "ColfaxAI", Helvetica, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.main h1,
.main h2 {
  line-height: 40px;
  font-weight: bold;
}

.main h1 {
  font-size: 48px;
  color: var(--color-main);
}

.main h2 {
  font-size: 32px;
  color: var(--color-text-dark);
  margin: 16px 0 40px;
}

.main form {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.main label {
  margin-bottom: 0.2rem;
}

.main input[type="text"] {
  padding: 12px 16px;
  border: 1px solid var(--color-main);
  border-radius: 4px;
  margin-bottom: 24px;
  outline-color: var(--color-main);
}

.main ::placeholder {
  color: var(--color-text-placeholder);
  opacity: 1;
}

.main input[type="submit"] {
  padding: 12px 0;
  color: var(--color-text-light);
  background-color: var(--color-main);
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.main input[type="submit"]:hover {
  background-color: var(--color-dark);
}

.main .result, .main .error {
  font-weight: bold;
  margin-top: 40px;
}

.main .error {
  color: var(--color-error)
}
